body {
  background-color: papayawhip;
}

h1 {
  text-align: center;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  background-color: royalblue;
  font-family: Helvetica, sans-serif;
}

p {
  color: black;
  margin-left: 30px;
  font-family: Helvetica, sans-serif;
}
