<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Filialas</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="sidenav">
        <a style="
            text-shadow: 4px 4px 8px black;
            font-size: 26px;
            " href="/"><b>Volvo LT</b></a.name>
        
        <a href="/product">Produktai</a>
        <a href="/contact">Kontaktai</a>
        <a href="/review">Atsiliepimai</a>
        <a style="color: lime;" href="/branch">Filialas</a>
        
        <p>© MB „Volvo LT“ 2024</p>
    </div>    

    <div class="main">
        <h1>Volvo autobusai</h1>
        <h2>Filialas</h2>

        <p>Dalykas toks, kad turime filialą ir Šiauliuose, adresu <b> Lieporių g. 21: </b></p>
        <img src="static/media/liepor.jpg"align="center"  width="672" height="449">
        <p>Pastaba. Venkite Marijono Mikutavičiaus. Jis yra morališkai nepriimtinas.</p>
        <p>Pastaba 2. <b>Pakeistas daugiabučio stogas</b></p>
        <a class="button" href="https://www.openstreetmap.org/#map=15/55.90616/23.26149" target="_blank">Mūsų filialo vietovė</a> 
    </div>
</body>
</html>
