<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Kontaktai</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Volvo autobusai</h1>

    <h2>Mūsų kontaktai</h2>

    <p>Susisiekite su mumis nuotoliniu būdu:</p>

    <button><a href="https://www.youtube.com/@GediminasKlingenschmitt"target=_blank">Mūsų youtube kanalas</a></button>
    <button><a href="https://lt.wikipedia.org/wiki/Vaisi%C5%B3_ir_uog%C5%B3_vynas"target=_blank">Mūsų vaisių ir uogų vynas</a></button>
    <button><a href="https://www.openstreetmap.org/#map=15/54.67666/25.20907"target=_blank">Mūsų vietovė</a></button>
    <button><a href="https://www.facebook.com/p/Gediminas-Klingenschmitt-100009446219389/"target=_blank">Mūsų veido knyga</a></button>
    <button><a href="https://www.nklyga.lt/komandos/246-joniskio-delikatesas.html"target=_blank">Mūsų komanda</a></button>

    <p>Arba apsilankykite mūsų būstinėje <b>Fabijoniškių g. 7</b></p>

    <a href="/">Atgal į pagrindinį puslapį</a>
</body>
</html>
