<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Kontaktai</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="sidenav">
        <a style="
            text-shadow: 4px 4px 8px black;
            font-size: 26px;
            " href="/"><b>Volvo LT</b></a.name>
        
        <a href="/product">Produktai</a>
        <a style="color: lime;" href="/contact">Kontaktai</a>
        <a href="/branch">Filialas</a>
        <a href="/review">Atsiliepimai</a>
        
        <p>© MB „Volvo LT“ 2024</p>
    </div>    

    <div class="main">
        <h1>Volvo autobusai</h1>
        <h2>Mūsų kontaktai</h2>

        <p>Susisiekite su mumis nuotoliniu būdu:</p>

        <a class="button" href="https://www.youtube.com/channel/UC5i5baTf0aAanlGsV7ZWHXg" target="_blank">Mūsų youtube kanalas</a>
        <a class="button" href="https://lt.wikipedia.org/wiki/Vaisi%C5%B3_ir_uog%C5%B3_vynas" target="_blank">Mūsų vaisių ir uogų vynas</a>
        <a class="button" href="https://www.openstreetmap.org/#map=15/54.67666/25.20907" target="_blank">Mūsų vietovė</a>
        <a class="button" href="https://www.facebook.com/p/Gediminas-Klingenschmitt-100009446219389/" target="_blank">Mūsų veido knyga</a>
        <a class="button" href="https://www.nklyga.lt/komandos/246-joniskio-delikatesas.html" target="_blank">Mūsų komanda</a>
        <a class="button" href="https://food.bolt.eu/lt-LT/9-vilnius/p/102490-emberquest-(parko-g.)" target="_blank">Mūsų kebabai</a>
        <a class="button" href="https://lt.wikipedia.org/wiki/Visagino_Gerosios_vilties_progimnazija" target="_blank">Mūsų gimnazija</a>
        <a class="button" href="https://content.tfl.gov.uk/standard-tube-map.pdf" target="_blank">Mūsų žemėlapis</a>
        <a class="button" href="https://cms.lmio.lt/" target="_blank">Mūsų olimpiada</a>
        <a class="button" href="https://www.prokuraturos.lt/lt/struktura-ir-kontaktai/darbuotoju-kontaktai/vilniaus-apygardos-prokuratura/190" target="_blank">Mūsų prokuratūra</a>
        <a class="button" href="https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg" target="_blank">Mūsų muzika</a>
        <a class="button" href="https://m.autoplius.lt/skelbimai/naudoti-automobiliai?category_id=2&make_id=42" target="_blank">Mūsų mašina</a>
        <a class="button" href="https://www.figma.com/colors/royal-blue/" target="_blank">Mūsų spalva</a>
        <a class="button" href="https://lt.wikipedia.org/wiki/Zimbabv%C4%97s_doleris" target="_blank">Mūsų valiuta</a>
        <a class="button" href="https://www.bernardinai.lt/zyma/aleksandras-alekseicikas/" target="_blank">Mūsų daktaras</a>
        
        <p>Pastaba. Venkite Volvo su kodu <b>XC</b>. Jie yra morališkai nepriimtini.</p>
        <p>Arba apsilankykite mūsų būstinėje <b>Fabijoniškių g. 7</b></p>
    </div>
</body>
</html>
