<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT</title>
    
    <style>
    div {
      margin: 50px;
    }
    </style>
    
</head>

<body>
    
    <h1 style="
        background-color:green;
        color:white;
        text-align:center;
    "
    >
    Volvo autobusai</h1>
    
    <img src="media/volvo1.jpg" alt="Gražus autobusas" width="672" height="449"> 
    
    <p>Įsigykite padėvėtus kokybiškus švediškus autobusus!</p>
    <a href="/product">Produktai</a>
    <div></div>
    <a href="/contact">Mūsų kontaktai</a>
    
</body>
    
</html>
