<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT</title>    
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="sidenav">
        <a style="
            text-shadow: 4px 4px 8px black;
            font-size: 26px;
            color: lime;
            " href="/"><b>Volvo LT</b></a.name>
        
        <a href="/product">Produktai</a>
        <a href="/contact">Kontaktai</a>

        <p>© MB „Volvo LT“ 2024</p>
    </div>

    <div class="main">
        <h1>Volvo autobusai</h1>
        <img src="static/media/volvo1.jpg"align="center"  width="672" height="449"> 
        
        <p>Įsigykite padėvėtus kokybiškus švediškus autobusus!</p>
        <p>Teikiame paslaugas nuo pat 1918 metų. Daugiau nei šimtas metų patirties ir tūkstančiai parduotų
        naujų bei padėvėtų autobusų – mūsų garantas jums, mieli klientai, jog užtikrinsime aukščiausios kokybės paslaugas.</p>
        <p>Dėkojame už jūsų ištikimybę mūsų bizniui. Tik dėl jūsų galime tęsti veiklą net ir transporto sunkmečiu.</p>
    </div>
    
</body>
    
</html>
