<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Pasiūlymai</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Volvo autobusai</h1>

    <h2>Mūsų produktai</h2>

    <table>
        <tr>
            <td>Volvo 7700A</td>
            <td>2004 m.</td>
            <td>2699€</td>
        </tr>
        <tr>
            <td>Volvo 7700</td>
            <td>2004 m.</td>
            <td>1999€</td>
        </tr>
          <tr>
            <td>Volvo 7700A</td>
            <td>2005 m.</td>
            <td>3999€</td>
          </tr>
          <tr>
            <td>Volvo 7700</td>
            <td>2005 m.</td>
            <td>2999€</td>
          </tr>
          <tr>
            <td>Volvo 7700A</td>
            <td>2006 m.</td>
            <td>4999€</td>
          </tr>
          <tr>
            <td>Volvo 7700</td>
            <td>2006 m.</td>
            <td>3549€</td>
          </tr>
      </table>

    <a href="/">Atgal į pagrindinį puslapį</a>
    <a href="/contact">Mūsų kontaktai</a>
</body>
</html>
