<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Pasiūlymai</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Volvo autobusai</h1>

    <h2>Mūsų produktai</h2>
    <ul>
        <li>Volvo 7700A (2004) - 2699€</li>
        <li>Volvo 7700 (2004) - 1999€</li>
        <li>Volvo 7700A (2005) - 3999€</li>
        <li>Volvo 7700 (2005) - 2999€</li>
        <li>Volvo 7700A (2006) - 4999€</li>
        <li>Volvo 7700 (2006) - 3549€</li>
    </ul>
    <a href="/">Atgal į pagrindinį puslapį</a>
    <a href="/contact">Mūsų kontaktai</a>
</body>
</html>
