<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Pasiūlymai</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <div class="sidenav">
    <a style="
      text-shadow: 4px 4px 8px black;
      font-size: 26px;
      " href="/"><b>Volvo LT</b></a.name>
    
    <a style="color: lime;" href="/product">Produktai</a>
    <a href="/contact">Kontaktai</a>
    <a href="/review">Atsiliepimai</a>

    <p>© MB „Volvo LT“ 2024</p>
  </div>
  <div class="main">
    <h1>Volvo autobusai</h1>

    <h2>Mūsų produktai</h2>

    <p>Gero stovio padėvėti žavingi Volvo autobusai:</p>

    <table>
      <tr>
          <td>Volvo 7700A</td>
          <td>2004 m.</td>
          <td>2699€</td>
      </tr>
      <tr>
          <td>Volvo 7700</td>
          <td>2004 m.</td>
          <td>1999€</td>
      </tr>
        <tr>
          <td>Volvo 7700A</td>
          <td>2005 m.</td>
          <td>3999€</td>
        </tr>
        <tr>
          <td>Volvo 7700</td>
          <td>2005 m.</td>
          <td><s>2999€</s> 2849€</td>
        </tr>
        <tr>
          <td>Volvo 7700A</td>
          <td>2006 m.</td>
          <td>4999€</td>
        </tr>
        <tr>
          <td>Volvo 7700</td>
          <td>2006 m.</td>
          <td>3549€</td>
        </tr>
    </table>

    <p>Kiekvienam parduodamam autobusui skiriama <b>2 metų garantija</b>.</p>
  </div>
</body>
</html>
