<!DOCTYPE html>
<html>
<head>
    <title>Volvo LT. Atsiliepimai</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="sidenav">
        <a style="
            text-shadow: 4px 4px 8px black;
            font-size: 26px;
            " href="/">
            <b>Volvo LT</b>
        </a.name>

        <a href="/product">Produktai</a>
        <a href="/contact">Kontaktai</a>
        <a style="color: lime;" href="/review">Atsiliepimai</a>

        <p>© MB „Volvo LT“ 2024</p>
    </div>    
    <div class="main">
        <h1>Volvo autobusai</h1>
            <h2>Parašykite atsiliepimą</h2>
                <form method="post">
                    <label for="name">Vardas:</label>
                    <input type="text" id="name" name="name" required><br>
                    <label for="comment">Komentaras:</label>
                    <textarea id="comment" name="comment" rows="3" cols="5" required></textarea>
                    <br>
                    <button type="submit">Paskelbti</button>
                </form>
            <h2>Jūsų atsiliepimai</h2>       
                {% for review in reviews %}
                <p><strong>{{ review['name'] }}</strong>: {{ review['comment'] }}</p>
                {% endfor %}
    </div>
</body>
</html>
